# Python
* Every programming language has some rules that you follow to write code which is called syntax
* Every language has some functions called built in functions to perform some specific task
* print() function that is used to display any output

# print function
* paranthesis
* print(values)
* what ever value you provide inside print function is displayed in output screen
* inside print function, you can provide different values separated by commas

In [2]:
print("We are learning python")
print("Monday", "Tuesday", "Wednesday")

We are learning python
Monday Tuesday Wednesday

# Data types
* string      str       Any thing that you write inside double quotes or single quotes is a string. e.g: "Hello"
* integer     int       any number without decimal part.   34, 75, 0, -50
* float       float     any number that has decimal part   32.5, 87.65, 0.05, -1.5
* boolean     bool      True, False

In [5]:
print("Hello", 56, 87.65, True)

Hello 56 87.65 True

# Types of Errors
* Syntax Error
* Name Error
* Value Error
* Type Error

In [11]:
print("Python")
print(45 + 15)

Python
60

# Variables
* Variables are used to store / hold a value with a name
* rules to give variable names
* 1: variable names should only consist of alphabets, underscore or digits
* 2: First letter of your variable name cannot be a digit
* 3: it will not include space and it should not be a python keyword

In [1]:
fname = 'Peter'
print(fname)

Peter

# Arithmetic Operators
* They can be used between integers and floats (numbers)
* Addition
* Subtraction
* Multiplication
* Division
* Power / Exponentiation
* Remainder
* Floor division