# Python
* Data Science, Machine Learning, Deep LEarning, Computer Vision, Web Development, GUI, Desktop, Hardware programming, Robotics
* interpreter / compiler  (Used to convert high level code to a low level code)
* Every language follows some set of rules to write a code that is called syntax
* In every language, there are some built in functions

* print() function
* Data types
* Variables
* type() function
* Errors: syntax error, name error, value error, type error, zero division error

In [2]:
# print() it is used to display an output
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print("Hello World")
print("Apple", "Orange", "Banana", "Water Melon", 89, 89.5)

Hello World
Apple Orange Banana Water Melon 89 89.5

In [8]:
print("Apple", "Orange", "Banana", "Water Melon", 89, 89.5, sep = "")

Apple.Orange.Banana.Water Melon.89.89.5

In [ ]:
# Escape Sequence
# \t  used for creating a tab space inside a string
# \n  used to create a new line inside a string

In [9]:
print("We are learning python")

We are learning python

In [11]:
print("We\tare\tlearning\tpython")

We	are	learning	python

In [12]:
print("We\nare learning python")

We
are learning python

In [13]:
print("We\nare\nlearning\npython")

We
are
learning
python

In [16]:
print("Apple", "Orange", "Banana", "Water Melon", 89, 89.5, sep = "\t")

Apple	Orange	Banana	Water Melon	89	89.5

In [17]:
print("Apple", "Orange", "Banana", "Water Melon", 89, 89.5, sep = "\n")

Apple
Orange
Banana
Water Melon
89
89.5

In [18]:
Print("Hello World")

NameError: name 'Print' is not defined

In [21]:
print("Hello World"  , 67

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_11128/662561251.py, line 1)

* Python is a case sensitive language

# Data types
* string      str              Any character written inside double or single quotes will be treated as a string "Hello"
* integer     int              numbers without decimal part 34, 0, , -87, 103
* floats      float            numbers with the decimal part   76.95, 0.00 , -87.75
* boolean     bool             True , False
* lists
* tuples
* dictionary
* sets

In [25]:
print(True, False)
# print(true)  Name Error

True False

# type() function

In [27]:
# type() function  inside type function we can provide only one value of any data type and it will display the type
#                   of that value in the output
print(type(45))
print(type("Python"))
print(type(0.98))
print(type(True))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [29]:
print(type(45), type("Python"), sep = "\n")

<class 'int'>
<class 'str'>

# Variables
* Variables are used to store a value or hold value and you can use it later with its name
* variable_name = value of any data type
* Some rules for variable naming (Home work)

In [32]:
value = 35
print(value * 5)

175

# Homework
* using end in a print statement with examples
* Variable naming rules in python

* Arithmetic Operators
* Operator Precedence
* Comparison Operators
* if else