# using end in print statement

In [4]:
print("Today is Friday", end = '    ')
print("Its evening", end = '    ')
print("They are happy", "Python is great")

Today is Friday    Its evening    They are happy Python is great

In [6]:
for i in range(10):
    print("Hello", end = '\t')

Hello	Hello	Hello	Hello	Hello	Hello	Hello	Hello	Hello	Hello

# Arithmetic Operators
* Arithmetic Operators are used between numbers (integers and float)
* Addition                   +
* Subtraction                -
* Multiplication             *
* Division                   /
* Power / Exponentiation     **
* Remainder / Modulus         %        
* Floor division              //

In [8]:
print("10 + 5 = ", 10 + 5)
print("10 - 5 = ", 10 - 5)
print("10 * 5 = ", 10 * 5)
print("11 / 5 = ", 11 / 5)
print("5  ** 2 = ", 5 ** 2)
print("11 % 5 = ", 11 % 5)
print("11 // 5 = ", 11 // 5)

10 + 5 =  15
10 - 5 =  5
10 * 5 =  50
11 / 5 =  2.2
5  ** 2 =  25
11 % 5 =  1
11 // 5 =  2

# Operator Precedence
* B E DM AS

In [9]:
expression = 5 + 5 * (2 + 2) / 5 + 2 ** 2 - 8   
# 5 + 5 * 4 / 5 + 2 ** 2 - 8   
# 5 + 5 * 4 / 5 + 4 - 8   
# 5 + 20 / 5 + 4 - 8   
# 5 + 4.0 + 4 - 8   
# 5.0
print(expression)

5.0

# Comparison Operators
* >
* <
* >=
* <=
* !=
* ==

In [12]:
print(10 < 2)
print(10 > 2)
print(10 <= 2)
print(10 >= 2)
print(10 != 2)
print(10 == 2)

False
True
False
True
True
False

In [18]:
print('orange' < 'apple')
print( 'apple' == 'banana')
print( 'apple' != 'banana')

False
False
True

# Conditional Structure / Decision Making
* if / else
* if part runs for True condition
* else part runs for False condition
* We write condition with if part only
* Indentation : it defines a block of code
* if  condition:
    statement1
    statement2
    .........
  else:
      statement1
      statement2
      ..........

In [22]:
weather = 'raining'
if weather == 'sunny':
    print("You can go to school")

else:
    print("You can enjoy rain at home")

You can enjoy rain at home

In [ ]:
weather = 'raining'
if weather == 'sunny':
print("You can go to school")  # Indentation Error

else:
    print("You can enjoy rain at home")

In [ ]:
weather = 'raining'
if weather == 'sunny':
    print("You can go to school")  
print("Hello")        # Syntax Error

else:
    print("You can enjoy rain at home")

In [24]:
# else part is not necessary. you can skip it according to your program choice
weather = 'raining'
if weather == 'raining':
    print("You can go to school")

You can go to school

In [ ]:
# income
# cost

# income > cost: print profit
# income < cost: print loss

In [25]:
number = 3
if number % 2 == 0:
    print("Even")
    
else:
    print("Odd")

Odd

In [ ]:
number1 = 7
number2 = 10
if number2 > number1:
    print("Number2 is bigger")
else:
    print("Number1 is bigger")

In [26]:
if True:
    print("Hi")
    
else:
    print("Bye")

Hi

In [27]:
if 0:
    print("Hi")
    
else:
    print("Bye")

Bye

In [28]:
if 45:
    print("Hi")
    
else:
    print("Bye")

Hi

In [29]:
if '':
    print("Hi")
    
else:
    print("Bye")

Bye

In [31]:
if 'orh':
    print("Hi")
    
else:
    print("Bye")

Hi

* Logical Operators
* multiple if conditions
* if elif else
* nested if else
* fstrings

# Homework
* type casting (converting from one data type to another data type) string to integer, integer to string  (Homework)
* input function