In [1]:
b = [34, 56, (3,4,5,6), 88]
print(b[2][1 : 3])

(4, 5)

In [6]:
a = "Hello"
b = "World"
print(a+b)
print(a * 5)
print("z" in a)
print("z" not in a)

HelloWorld
HelloHelloHelloHelloHello
False
True

# Operators with the lists:
* Concatenation between two lists with +
* Multiplying with any integer *
* Check if an elemnt is present in your list with "in" and "not in" operator. (The result will be boolean)

In [9]:
a = [2, 4, 6, 8, 10]
b = [1, 3, 5, 7, 9]

# List Concatenation
print(a + b) # Lists joined / concatenated
print(a + [2])

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 2]

In [12]:
# Multiplication with lists
a = [2, 4, 6, 8, 10]
print(a * 3) # The same list appears three times as a list

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [19]:
# Search an item in a list with "in" and "not in"
a = [2, 4, 6, 8, 10]

print(3 in a)
print(3 not in a)

b = [34, 56, (3,4,5,6), 88]
print(3 in b)

False
True
False

# Mutable and immutable objects / data types
#### Mutable Objects:
Those objects / data types whose item values can be changed
* Lists
* Dictionaries
* Sets

#### Immutable Objects:
Those objects / data types whose item values cannot be changed
* Strings
* Tuples
* Numbers (integer / float)

In [26]:
a = [2, 4, 6, 8, 10]
print(a)

a[1] = 0
print(a)

a[0 : 3] = [78]
print(a)

[2, 4, 6, 8, 10]
[2, 0, 6, 8, 10]
[78, 8, 10]

In [27]:
name = "Ruben"

name [0] = "S"
print(name)

TypeError: 'str' object does not support item assignment

# Homework
* Positive indexing, negative indexing, positive slicing, negative slicing with strings, tuples,range
* Learn about iterables, sequences, mutable and immutable objects
* Do indexing with nested lists
* Do item assignment with Lists
* Use for loops with lists
* See list methods (https://www.w3schools.com/python/python_ref_list.asp)