# Variables
> Variables are used to store a value
>
> name_of_variable = 50

In [1]:
# Assignment operator is =
number=75+56
age=23
name="Shuaib"
print(number)
print(age)
print(name)

131
23
Shuaib

In [2]:
print(type(number))
print(type(age))
print(type(name))

<class 'int'>
<class 'int'>
<class 'str'>

In [3]:
day="Friday"
print(day)

Friday

## Variable naming rules
1. Variable names cannot be a Python key word 
1. Variable name cannot contain spaces
1. First character must be a letter or an underscore
1. After first character may use letters, digits, or underscores
1. Variable names are case sensitive

In [1]:
first name="Muhammad"  #space is not allowed in variable name
print(first name)

Muhammad

In [7]:
firstname="Muhammad"
print(firstname)

Muhammad

In [9]:
first_name1="Muhammad"
print(first_name1)

Muhammad

In [11]:
print(day)
print(DAY)  # Case sensitive problem

Friday

NameError: name 'DAY' is not defined

## Variable Reassigning

In [14]:
num=65
print(num)
print(id(num))

num=12
print(num)
print(id(num))

65
3006320300400
12
3006320110224

In [4]:
num1=76
num2=24
num3="90"
print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1*num2)
print(num1**num2)
print(num1//num2)
print(num1%num2)
print(num1+num3)

100
52
3.1666666666666665
1824
1378879181903229284421282144252718341922226176
3
4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Operator Precedence
* Brackets Exponentiation Division/Multiplication  Addition/Subtraction

In [18]:
expression= 12+(2+4)*3-12/2**2        #12+6*3-12/2**2       12+6*3-12/2**2        12+6*3-12/4   12+18-12/4    12+18-3
print(expression)

27.0

# Type Casting
> Converting one data type to another data type
>
> E.g: converting string into integer

In [22]:
num1=5
num2=6.5
num3='76'


#Converting integer to string using  str() function
num4=str(num1)
print("num4 is",num4)
print("type of num4 is",type(num4))


#Converting string to integer using  int() function
num4=int(num3)
print("num4 is",num4)
print("type of num4 is",type(num4))


#Convert string to float
#Convert float to string
#Convert integer to float
#Convert float  to integer

num4 is 5
type of num4 is <class 'str'>
num4 is 76
type of num4 is <class 'int'>

# string concatenation
> using + operator between two strings (It combines or joins two strings)

In [27]:
print("Hello"+"World" + ".We are learning")
first_name="Muhammad"
last_name="Shahjahan"
name=first_name+last_name
print(name)

HelloWorld.We are learning
MuhammadShahjahan

# f-strings, formatted strings

In [30]:
#age=20
#height=1.73
# I'm  age years old and I'm height meters taller
age=20
height=1.73

print("I'm",age, "years old and I'm", height, "meters taller")

I'm 20 years old and I'm 1.73 meters taller

In [ ]:
print(f"I'm {age} years old and I'm {h} meters taller")