* names like variable names, function names and other names are also called identifiers

In [2]:
food="Cake"
for c in food:
    if c=='a':
        print("We found a")

We found a

In [4]:
#Run a for loop from 1 to 100.
# print the numbers divisible by 5 
for i in range(1,101):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
# run a for loop over a range from 1 to 500
# sum all numbers between 100 to 200 and print at the end
# take square of all the numbers that are divisible by 4 from 1 to 300 and add them

In [5]:
sum_numbers=0
for i in range(1,501):
    if i>=100 and i<=200:
        sum_numbers=sum_numbers+i
        
print(sum_numbers)

15150

# Nested for loops
* Using a for loop inside another for loop

In [6]:
for i in range(1,11):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4
10 1
10 2
10 3
10 4