In [80]:
def multiply(num1, num2):
    return num1*num2


r = multiply(9, 2)
print(r)

18

Write a function named collatz() that has one parameter named number. If 
number is even, then collatz() should print number // 2 and return this value. 
If number is odd, then collatz() should print and return 3 * number + 1.
Then write a program that lets the user type in an integer and that 
keeps calling collatz() on that number until the function returns the value 1. 
(Amazingly enough, this sequence actually works for any integer—sooner or 
later, using this sequence, you’ll arrive at 1! Even mathematicians aren’t sure 
why. Your program is exploring what’s called the Collatz sequence, sometimes 
called “the simplest impossible math problem.”)
Remember to convert the return value from input() to an integer with 
the int() function; otherwise, it will be a string value.
Hint: An integer number is even if number % 2 == 0, and it’s odd if 
number % 2 == 1.
The output of this program could look something like this:
Enter number:
3
10
5
16
8
4
2
1

In [ ]:
x = 7
y = 8
z = 9
xy = 0

# Lists
* Lists is a datatype that can store multiple items inside enclosed square brackets and is ordered and changeable

In [81]:
# string , integer, float, boolean, list

# how to create a list
# List of numbers
numbers = [1, 2 , 3, 7, 8.5, 9]
print(numbers)
print(type(numbers))

[1, 2, 3, 7, 8.5, 9]
<class 'list'>

In [82]:
# List of strings
name = ["Ali", "Talha", "Shuaib", "Sara"]
print(name)
print(type(name))

['Ali', 'Talha', 'Shuaib', 'Sara']
<class 'list'>

In [83]:
# List with mixed data types
a = ["John", 76, "Python", 85.5, True ]
print(a)
print(type(a))

['John', 76, 'Python', 85.5, True]
<class 'list'>

# Builtin functions in python that can be used with lists
* min()
* max()
* len()
* sum()
* sorted()

In [87]:
# iterables : lists, strings, tuple, range, dictionary, sets

# len(iterable) , it will return number items present inside your iterable
numbers = [1, 2 , 3, 7, 8.5, 9]
print(len(numbers))

name = ["Ali", "Talha", "Shuaib", "Sara"]
print(len(name))

a = ["John", 76, "Python", 85.5, True ]
print(len(a))

6
4
5

In [91]:
# min(iterable) , it will return a lowest value in your iterable. if items in your iterable are strings, 
#                 then it will do alphabetical comparison. all the items in the iterable should have same data type

numbers = [1, 2 , 3, 7, 8.5, 9]
print(min(numbers))

name = ["Ali", "Talha", "Shuaib", "Sara"]
print(min(name))

#a = ["John", 76, "Python", 85.5, True ]
#print(min(a))   Error

1
Ali

In [92]:
# max(iterable) , it will return a highest value in your iterable. if items in your iterable are strings, 
#                 then it will do alphabetical comparison. all the items in the iterable should have same data type

numbers = [1, 2 , 3, 7, 8.5, 9]
print(max(numbers))

name = ["Ali", "Talha", "Shuaib", "Sara"]
print(max(name))

#a = ["John", 76, "Python", 85.5, True ]
#print(min(a))   #Error

9
Talha

TypeError: '<' not supported between instances of 'int' and 'str'

In [95]:
# sum(iterable , start), Returns a number, the sum of all items in an iterable. 
                        # Start is optional. If you write it then it is added to the return value 
                        # All values should be integers or floats
    
numbers = [1, 2 , 3, 7, 8.5, 9]

print(sum(numbers))
print(sum(numbers,7))

30.5
37.5

In [97]:
# name = ["Ali", "Talha", "Shuaib", "Sara"]
# print(sum(name)) Error because values are strings

In [ ]:
# Homework
# how to use sorted() function with lists
# how to access values of a list (indexing) positive and negative indexing, slicing
# how to use for loop over a list
# Operators that we can use with lists, + , *, in