# Range function with for loops

* range()
* you can only pass integer values to range function
* it accepts atmost 3 integer values / arguments
* start value, stop value, step value

In [ ]:
# range function with one argument with for loop
# by default start value is 0
# stop value is the value that you have given
# step value is 1
for a in range(5):
    print(a)

In [ ]:
for a in range(11):
    print(a)

In [ ]:
# range function with one argument with for loop
# start value is first argument
# stop value is the second argument
# step value is 1
for a in range(10,30):
    print(a)

In [1]:
# range function with one argument with for loop
# start value is first argument
# stop value is the second argument
# step value is third argument
for a in range(10,30,2):
    print(a)

10
12
14
16
18
20
22
24
26
28

In [ ]:
# no output
for a in range(30,10):
    print(a)

In [3]:
# negative step
# step value=-1
for a in range(30,10,-1):
    print(a)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [4]:
#no output
for a in range(10,30,-1):
    print(a)

In [5]:
# Writing a table of a number
print("10*1=",10*1)
print("10*2=",10*2)
print("10*3=",10*3)
print("10*4=",10*4)
print("10*5=",10*5)
print("10*6=",10*6)
print("10*7=",10*7)
print("10*8=",10*8)
print("10*9=",10*9)
print("10*10=",10*10)

10*1= 10
10*2= 20
10*3= 30
10*4= 40
10*5= 50
10*6= 60
10*7= 70
10*8= 80
10*9= 90
10*10= 100

In [13]:
for i in range(1,11):
    print(f"{'10':<4} {'*':<4} {i:<4} {'=' : <4} {10*i:<4}")

10   *    1    =    10
10   *    2    =    20
10   *    3    =    30
10   *    4    =    40
10   *    5    =    50
10   *    6    =    60
10   *    7    =    70
10   *    8    =    80
10   *    9    =    90
10   *    10   =    100

In [14]:
number=int(input("Enter any number: "))
for i in range(1,11):
    print(f"{number}*{i}= {number*i}")

Enter any number: 12
12*1= 12
12*2= 24
12*3= 36
12*4= 48
12*5= 60
12*6= 72
12*7= 84
12*8= 96
12*9= 108
12*10= 120