# Lists
* List is used to store multiple data or collection of data
* Data is written inside square brackets
* Ordered, Changeable and can contain duplicate values

In [3]:
# list of numbers
numbers = [1 , 3 , 5, 2, 9, 0 , 8, 8.8]
print(numbers)
print(type(numbers))

[1, 3, 5, 2, 9, 0, 8, 8.8]
<class 'list'>

In [4]:
# list of strings
fruits = ["Cherry", "Apple", "Banana"]
print(fruits) # prints the list
print(type(fruits)) # prints the type of variable fruits

['Cherry', 'Apple', 'Banana']
<class 'list'>

In [6]:
# A list with a mixed data types
mixed = [1, "Monday" , 5.76, True, 6, 9.9, "Hello"]
print(mixed)
print(type(mixed))

[1, 'Monday', 5.76, True, 6, 9.9, 'Hello']
<class 'list'>

# Some built in functions that we can use with a lists
* sum()  (sum function can be used over a sequence of values (list, tuple) with integer or float data type
* len()  it tells you about the length of your list
* min()
* max()

In [8]:
numbers = [1 , 3 , 5, 2, 9, 0 , 8, 8.8]
print(sum(numbers))

36.8

In [9]:
print(sum([1 , 3 , 5, 2, 9, 0 , 8, 8.8]))

36.8

In [22]:
numbers = [1 , 3 , 5, 2, 9, 0 , 8, 6.5]
print(sum(numbers))
a = sum(numbers)
print(a)

34.5
34.5

In [23]:
numbers = [1 , 3 , 5, 2, 9, 0 , 8, "abc", "klm"]
print(len(numbers))
a = len(numbers)
print(a)

9
9

In [20]:
# min() function, it tells you about the minimum value inside your list. (values should be of same data type)
numbers = [1 , 3 , 5, 2, 9, 0 , 8, 6.5]

print(min(numbers))
a = min(numbers)
print(a)

0
0

In [19]:
fruits = ["Cherry", "Apple", "Banana"]
print(min(fruits))

Apple

In [21]:
# max() function, it tells you about the maximum value inside your list. (values should be of same data type)
numbers = [1 , 3 , 5, 2, 9, 0 , 8, 6.5]
print(max(numbers))
a = max(numbers)
print(a)

9
9