In [6]:
print("Ruben")   #syntax  #Case Sensitive #Built in Functions 
#Whatever you write inside double quotes or single quotes is called STRINGS

print(89)

print(70.25)

#type() function "Type function tells you the type of data you are using"



#Types of Data
#STRINGS   In double quotes or single quotes
#INTEGERS  numbers either positive or negative      89,-20,0,1
#FLOATS    numbers with decimal values           89.05, 0.5, -90.27

Ruben
89
70.25

In [13]:
print(type("hello"))
print(type(760))
print(type(89.5))

<class 'str'>
<class 'int'>
<class 'float'>

Variables:
Used to store data of any type

Rules for naming variables:  (identifiers)
1. Each identifier may consist of letters, digits and underscores (_) but may not begin with a digit
2. Python is case sensitive, so number and Number are different identifiers because one begins with a lowercase letter and the other begins with an uppercase letter.

In [15]:
num=760           #variable name  ,  Assignment Operator,  Value
name="John"
fl=65.5

print(num)
print(name)
print(fl)

760
John
65.5

In [16]:
num

760