In [1]:
num1=10          #          =  assignment operator
num2=6
#Arithmetic Operators
#  +   Addition
#  -   Subtraction
#  *   Multiplication
#  /   Division
#  //  Integer Division
#  **  Power
#  %   Modulus

In [2]:
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

print(num1 // num2)


# 3**4      3*3*3*3

print(8**2) 

print(num1 % num2)

print(13%5)


#  (13+10) / 5 *2 - 8**2         23/5*2-8**2    23/5*2-64  4.6*2-64    9.2-64       -54.8

16
4
60
1.6666666666666667
1
64
4
3

In [3]:
#  B E DM AS
print((13+10) / 5 *2 - 8**2)

-54.8

In [7]:
age=13
born=2008

print("Hello my name is Ruben.\nI'm " ,age , "\tI was born in the year",born)

#Escape Sequences \t  \n

Hello my name is Ruben.
I'm  13 	I was born in the year 2008

In [3]:
print("number\tsquare\tcube")
print(0,"\t",0**2,"\t",0**3)  
print(1,"\t",1**2,"\t",1**3)  
print(2,"\t",2**2,"\t",2**3) 
print(3,"\t",3**2,"\t",3**3) 
print(4,"\t",4**2,"\t",4**3) 
print(5,"\t",5**2,"\t",5**3) 
#While loop

number	square	cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125