# Type Casting
Conversion of one datatype to another data type
str to int
int to str
float to str
str to float
int to float 
float to int

In [42]:
num1=55
num2=28.75
num3="100"

#str to int using int() function
value1=int(num3)
print("The type of value1 is ",type(value1))
print("value1 is",value1)


#int to str using str() function
value2=str(num1)
print("The type of value2 is",type(value2))
print("value2 is",value2)

#str to float using float() function
value3=float(num3)
print("The type of value3 is",type(value3))
print("value3 is",value3)

The type of value1 is type(value1)
value1 is 100
The type of value2 is <class 'str'>
value2 is 55
The type of value3 is <class 'float'>
value3 is 100.0

# Escape Sequences
They are always used as a string
\t   a tab space
\n   new line
\    will remove the special meaning of escape sequences

In [17]:
print("THURSDAY")
print("T\tH\tU\tR\tS\tD\tA\tY")

THURSDAY
T	H	U	R	S	D	A	Y

In [25]:
print("Hello \\t World")

Hello \t World

In [29]:
path="E:\\new.txt"
print(path)

E:\new.txt

"Sunny's mother said: "That cat is ours""

In [32]:
print("Sunny's mother said: \"That cat is ours\" ")

Sunny's mother said: "That cat is ours"

In [34]:
print("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh\
hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh")

hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh

# String Concatenation
two or more strings are joined using + operator

In [40]:
str1="DAY"
str2="FRI"
print(str2+str1)

friDAY

# f-strings and string formatting

In [43]:
name="Shah"
age=23
print("My name is", name ,  "my age is" ,age)

My name is Shah my age is 23

In [46]:
print("My name is "+ name +  " my age is" ,age)

My name is Shah my age is 23

In [48]:
#fstring
print(f"My name is {name} and my age is {age}")

My name is Shah and my age is 23

In [49]:
#string formatting
print("My name is {} and my age is {}".format(name,age))

My name is Shah and my age is 23

In [ ]:
#Ali drinks 2 glasses of milk every day
#Ali also eats one apple every day
# Calorie intake for 1 glass of milk is 300 calories
# Calorie intake for 1 apple is 200 calories
#Calculate Total calories in one month
#Calculate Total calories in one year