In [1]:
#List
grades=[55,66,77,88,95]

for score in grades:  #score=66
    if score<50:
        print("You got F and your score was",score)
        
    elif score>=50 and score <=59:
        print("You got D and your score was",score)
        
    elif score>=60 and score <=69:
        print("You got C and your score was",score)
        
    elif score>=70 and score <=79:
        print("You got B and your score was",score)
        
    elif score>=80 and score <=89:
        print("You got A and your score was",score)
    
    elif score>=90 and score <=100:
        print("You got A+ and your score was",score)

You got D and your score was 55
You got C and your score was 66
You got B and your score was 77
You got A and your score was 88
You got A+ and your score was 95

# Nested for loops

> A for loop inside another for loop

In [4]:
for i in range(1,21):
    for j in range(1,10):
        print(i,j,end="\t")
        
    print("\n")

1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

2 1	2 2	2 3	2 4	2 5	2 6	2 7	2 8	2 9

3 1	3 2	3 3	3 4	3 5	3 6	3 7	3 8	3 9

4 1	4 2	4 3	4 4	4 5	4 6	4 7	4 8	4 9

5 1	5 2	5 3	5 4	5 5	5 6	5 7	5 8	5 9

6 1	6 2	6 3	6 4	6 5	6 6	6 7	6 8	6 9

7 1	7 2	7 3	7 4	7 5	7 6	7 7	7 8	7 9

8 1	8 2	8 3	8 4	8 5	8 6	8 7	8 8	8 9

9 1	9 2	9 3	9 4	9 5	9 6	9 7	9 8	9 9

10 1	10 2	10 3	10 4	10 5	10 6	10 7	10 8	10 9

11 1	11 2	11 3	11 4	11 5	11 6	11 7	11 8	11 9

12 1	12 2	12 3	12 4	12 5	12 6	12 7	12 8	12 9

13 1	13 2	13 3	13 4	13 5	13 6	13 7	13 8	13 9

14 1	14 2	14 3	14 4	14 5	14 6	14 7	14 8	14 9

15 1	15 2	15 3	15 4	15 5	15 6	15 7	15 8	15 9

16 1	16 2	16 3	16 4	16 5	16 6	16 7	16 8	16 9

17 1	17 2	17 3	17 4	17 5	17 6	17 7	17 8	17 9

18 1	18 2	18 3	18 4	18 5	18 6	18 7	18 8	18 9

19 1	19 2	19 3	19 4	19 5	19 6	19 7	19 8	19 9

20 1	20 2	20 3	20 4	20 5	20 6	20 7	20 8	20 9

In [2]:
num1=int(input("Enter lower number: "))#5
num2=int(input("Enter higher number: ")) #15

for i in range(num1,num2+1):
    for j in range(1,11):
        print(f"{i}\t*\t{j}\t=\t{i*j}")
    print("\n")
        
# Put a newline after every table of i
# Have a look at while loops

Enter lower number: 2
Enter higher number: 10
2	*	1	=	2
2	*	2	=	4
2	*	3	=	6
2	*	4	=	8
2	*	5	=	10
2	*	6	=	12
2	*	7	=	14
2	*	8	=	16
2	*	9	=	18
2	*	10	=	20


3	*	1	=	3
3	*	2	=	6
3	*	3	=	9
3	*	4	=	12
3	*	5	=	15
3	*	6	=	18
3	*	7	=	21
3	*	8	=	24
3	*	9	=	27
3	*	10	=	30


4	*	1	=	4
4	*	2	=	8
4	*	3	=	12
4	*	4	=	16
4	*	5	=	20
4	*	6	=	24
4	*	7	=	28
4	*	8	=	32
4	*	9	=	36
4	*	10	=	40


5	*	1	=	5
5	*	2	=	10
5	*	3	=	15
5	*	4	=	20
5	*	5	=	25
5	*	6	=	30
5	*	7	=	35
5	*	8	=	40
5	*	9	=	45
5	*	10	=	50


6	*	1	=	6
6	*	2	=	12
6	*	3	=	18
6	*	4	=	24
6	*	5	=	30
6	*	6	=	36
6	*	7	=	42
6	*	8	=	48
6	*	9	=	54
6	*	10	=	60


7	*	1	=	7
7	*	2	=	14
7	*	3	=	21
7	*	4	=	28
7	*	5	=	35
7	*	6	=	42
7	*	7	=	49
7	*	8	=	56
7	*	9	=	63
7	*	10	=	70


8	*	1	=	8
8	*	2	=	16
8	*	3	=	24
8	*	4	=	32
8	*	5	=	40
8	*	6	=	48
8	*	7	=	56
8	*	8	=	64
8	*	9	=	72
8	*	10	=	80


9	*	1	=	9
9	*	2	=	18
9	*	3	=	27
9	*	4	=	36
9	*	5	=	45
9	*	6	=	54
9	*	7	=	63
9	*	8	=	72
9	*	9	=	81
9	*	10	=	90


10	*	1	=	10
10	*	2	=	20
10	*	3	=	30
10	*	4	=	40
10	*	5	=	50
10	*	6	=	60
10	*	7	=	70
10	*	8	=	80
10	*	9	=	90
10	*	10	=	100

In [5]:
num1=int(input("Enter lower number: "))#5

for i in range(1,11):
    print(f"{num1}\t*\t{i}\t=\t{num1*i}")

Enter lower number: 5
5	*	1	=	5
5	*	2	=	10
5	*	3	=	15
5	*	4	=	20
5	*	5	=	25
5	*	6	=	30
5	*	7	=	35
5	*	8	=	40
5	*	9	=	45
5	*	10	=	50