# Print Function

In [6]:
#print function with hello world
#built in functions   print(Arguments), type(), input()
#user defined functions
#function_name(arguments)
#syntax (rules that you follow to write a code)  Syntax errors, name error, type error
#Case Sensitive Language
print() #parenthesis
print()
print("Hi")

Hello World

Hi

# Data Types
Types of Data:
1. String  str   Anything or any character written inside double quotes or single quotes is a string "1aaa@#"
2. Integer int   Numbers without decimal part   2,0,-3
3. Float   float Numbers with decimal part      2.5,0.00,-25.98
4. Boolean bool  True,False

In [7]:
print("Hello World")  #string
print(5)           #integer
print(5.5)  #float
print(True)  #bool

Hello World
5
5.5
True

# Type Function
type()  It tells you the type of the data

In [10]:
print(type("Hello World"))       #type("Hello World")  #str
print(type(5)) 
print(type(5.5))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Variables and Assignments
Variablename =  value   (= is Assignment operator)

Rules to give variable names or identifiers
The name of variable should consist of letters digits or _ (underscore)
The starting letter can be an alphabet or _
Variable names cannot be built in keywords

In [22]:
number1=55
name="Muhammad"
num_f=55.5
night=True

print(number1 , name , num_f, night)
print(5)

55 Muhammad 55.5 True
5

# Arithmetic Operators
+ 
-
*
/
**    Exponentiation
//    Floor Division
%     Remainder

In [28]:
num1=10
num2=6
print("num1 + num2*5= ",num1+num2*5)  #16
print("num1 - num2= ",num1-num2)  #4
print("num1 * num2= ",num1*num2)  #60
print("num1 / num2= ",num1/num2)  #1.6666
print("num1 ** num2= ",num1**num2) #1000000
print("num1 // num2= ",num1//num2) #1
print("num1 % num2= ",num1%num2)  #4

num1 + num2*5=  40
num1 - num2=  4
num1 * num2=  60
num1 / num2=  1.6666666666666667
num1 ** num2=  1000000
num1 // num2=  1
num1 % num2=  4

# Operator Precedence
Bracket Exponentiation Multiplication/division Addition/Subtraction

In [30]:
expr=13*4**2+8/4-(10+5)  #13*4**2+8/4-15   13*16+8/4-15   13*16+8/4-15  208+8/4-15   208+2.0-15
print("13*4**2+8/4-(10+5) = ",expr)

13*4**2+8/4-(10+5) =  195.0

In [ ]:
#Input function
#what type of data does input function returns and what is the purpose of input function