# Lists
* used to store multiple items/values enclosed in square brackets. e.g: [12,3,5.5,7]
* collection of data (other types: tuples, dictionaries, sets)
* ordered, changeable and can contain duplicate values

## Ways to create a list

In [4]:
name="Munir"
print(name)
name=["shah","John","Munir","Sara"]
print(name)
x=[]
print(x)
print(type(x))

Munir
['shah', 'John', 'Munir', 'Sara']
[]
<class 'list'>

In [10]:
#sequences: lists, tuples, strings 
#list( sequence )

#list(string)
numbers=list("123456789")
print(numbers)

#list(tuple)
numbers=list((1,2,3,4,5,6,7,8,9))
print(numbers)

#list(list)
numbers=list([1,2,3,4,5,6,7,8,9])
print(numbers)

numbers=[1,2,3,4,5,6,7,8,9]
print(numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# passing different types of data to a list
grades=["shah",98,98.5,True]
print(grades)

['shah', 98, 98.5, True]

In [18]:
# with sequences (lists, tuples, strings ) you can use following functions:
# len() will return number of items 
# min() will return minimum value
# max() will return maximum value
# sum() will sum all of the items and return the result
# sorted() will sort your list in ascending order, descending order

numbers=[1,2,3,4,5,6,7,8,9]
print(len(numbers))

print(min(numbers))

print(max(numbers))
print(sum(numbers))

9
1
9
45

In [23]:
numbers=[3,5,6,4,2,1,8,7,9]
# list in ascending order
print(sorted(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
numbers=[3,5,6,4,2,1,8,7,9]
# list in descending order
print(sorted(numbers,reverse=True))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
numbers=[1,2,3,4,5,6,7,8,9,"S","H",True,7.7]
print(len(numbers))

13

In [31]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
print(min(days))
print(max(days))
print(sorted(days))
print(sorted(days,reverse=True))

friday
wednesday
['friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday']
['wednesday', 'tuesday', 'thursday', 'sunday', 'saturday', 'monday', 'friday']

In [32]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday","Yesterday"]
print(min(days))
print(max(days))
print(sorted(days))
print(sorted(days,reverse=True))

Yesterday
wednesday
['Yesterday', 'friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday']
['wednesday', 'tuesday', 'thursday', 'sunday', 'saturday', 'monday', 'friday', 'Yesterday']

In [37]:
print(ord('a'))
print(ord('z'))

print(ord('Y'))

97
122
89

# Indexing
## Accessing items of a list based on indexing
* list_name[index_value]

In [ ]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday","Yesterday"]
print(days)
print(days[1])
print(days[5])
print(days[7])
print(days[-1])
print(days[-4])

In [46]:
a=input("Enter value: ")

Enter value: 56