# Logical operators
* and , or , not

# Type Casting
* Conversting one data type into another

In [2]:
a = '75'
print(int(a) + 15)

90

In [4]:
# When we use + operator between two strings, it is called string concatenation
a = '75'
print(a + str(15))
list1 = [45, 75, 85]
a = tuple(list1)
print(a)

7515
(45, 75, 85)

# for loops
* for loops is a definite loop (we know the number of iterations)
* it is used with iterables (range, list, tuple, dictionary, strings, set)
* for loop goes through each item of iterable until the last item
* for variable_name in iterrable:
    statements1
    statement2
    .........

In [5]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [6]:
for i in [20, 30, 40, 50, 60]:
    print(i)

20
30
40
50
60

In [7]:
for i in (20, 30, 40, 50, 60):
    print(i)

20
30
40
50
60

In [ ]:
# range(start, stop, step)
# start, stop, step they all should be integer

# When we provide a single value in range
# range(10)  start = 0, stop = 10 , step = 1

# When we provide two values in range
# range(5, 21)  start = 5, stop = 21, step = 1

# When we provide all values in range
# range(5, 21, 2)  start = 5, stop = 21, step = 2

In [9]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [10]:
for i in range(5, 21):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
for i in range(0, 21, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [14]:
# when the step value is positive, start value should be less than stop value
for i in range(21, 0, 2):
    print(i)

In [17]:
# when the step value is negative, start value should be greater than stop value
for i in range(20, -5, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2
0
-2
-4

In [19]:
number = int(input("Enter a number: "))
print(f"{number} * {1} = {number*1}")
print(f"{number} * {2} = {number*2}")
print(f"{number} * {10} = {number*10}")

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 10 = 50

In [22]:
number = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{number} * {i} = {number*i}")

Enter a number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [24]:
for i in range(5):
    number = int(input(f"Enter number {i+1}: "))

Enter number 1: 25
Enter number 2: 35
Enter number 3: 66
Enter number 4: 78
Enter number 5: 45

In [34]:
# take 5 values and calculate their sum
sum_values = 0
for i in range(5):
    print("i is ", i)
    number = int(input(f"Enter a number {i+1}: "))
    sum_values = sum_values + number
    print("Current value of sum is", sum_values)
    
print(sum_values)

i is  0
Enter a number 1: 20
Current value of sum is 20
i is  1
Enter a number 2: 10
Current value of sum is 30
i is  2
Enter a number 3: 15
Current value of sum is 45
i is  3
Enter a number 4: 15
Current value of sum is 60
i is  4
Enter a number 5: 15
Current value of sum is 75
75

135

# while loop
* while loop is an indefinite loop (we don't know exactly, how many times it will iterate)
* It runs based on a condition. It keeps running as long as condition is True
* it stops when condition becomes false
* while condition:
    statement1
    statement2
    statement3
    .........
* Infinite loop (When condition never becomes false)

In [36]:
x = 5

while x < 20:
    print(x)
    x = x + 1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [58]:
# palindrome
# 5665 , 545, 373, 121
number = int(input("Enter any number: "))
reverse = str(number)
reverse = reverse[ : : -1]
print(reverse)
reverse = int(reverse)

if reverse == number:
    print(f"{number} is a palindrome")
else:
    print(f"{number} is not a palindrome")

Enter any number: 121
121
121 is a palindrome

In [75]:
number = int(input("Enter any number: "))
x = number
reverse = 0
while number != 0:
    reverse = number % 10 + reverse * 10
    number = number // 10
    print("Current value of reverse is", reverse)
    print("Current value of number is", number)
    
if reverse == x:
    print(f"{x} is a palindrome")
else:
    print(f"{x} is not a palindrome")

Enter any number: 1000001
Current value of reverse is 1
Current value of number is 100000
Current value of reverse is 10
Current value of number is 10000
Current value of reverse is 100
Current value of number is 1000
Current value of reverse is 1000
Current value of number is 100
Current value of reverse is 10000
Current value of number is 10
Current value of reverse is 100000
Current value of number is 1
Current value of reverse is 1000001
Current value of number is 0
1000001 is a palindrome

In [71]:
print(2 // 10)

0

In [54]:
a = "summerdays"
print(a[  :  : -1])

syadremmus

# Iterables
* iterables is something on which you can use a for loop (range, list, tuple, dictionary, strings, set)

# Mutable and immutable types/objects
* mutable types are those types whose elements can be changed (list, dictionary, set)
* immutable types are those types whose elements can't be changed (strings, tuple)

# Sequences
* sequences are those data types / objects with which we can use indexing
* strings, lists, tuples, range
* ordered

# Some operators that we can use with sequences and iterables
* in and not in  (iterables)
* \+ two strings, two lists, two tuples
* \*  string and integer, list and integer, tuple and integer

In [82]:
# in and not in
# searches a value in iterable and returns a boolean value

name = "Biden"
print('a' in name)
print('Bid' in name)
print('a' not in name)

info = {'name' : 'John', 'height' : 175 , 'age' : 25}
print(25 in info.values())

False
True
True
True

In [87]:
print("Fruit" + "Apple")
print([25, 65, 75] + [105, 115])
print((25, 65, 75) + (105, 115))
# print([25, 65, 75] + 55)

FruitApple
[25, 65, 75, 105, 115]
(25, 65, 75, 105, 115)

TypeError: can only concatenate list (not "int") to list

In [90]:
print("Hello" * 5)
print([25, 13, 14] * 5)
print((25, 13, 14) * 5)

HelloHelloHelloHelloHello
[25, 13, 14, 25, 13, 14, 25, 13, 14, 25, 13, 14, 25, 13, 14]
(25, 13, 14, 25, 13, 14, 25, 13, 14, 25, 13, 14, 25, 13, 14)

In [91]:
# count the number of vowels
# we went on a picnic to a lake
sentence = "we went on a picnic to a lake"
count = 0
for letter in sentence:
    if letter in ('a', 'e', 'i','o','u'):
        count = count + 1

print("Number of vowel are",count)

Number of vowel are 10

# Indexing
* Sequences
* positive indexing
* negative indexing
* positive slicing
* negative slicing

In [94]:
# positive indexing (Accessing elements through positive indexing)
names = ["John", "Peter", "Parker", "Joseph", "Brad", "Steven"]
print(len(names))
print(names[5])
print(names[len(names)-1])

6
Steven
Steven

In [97]:
# negative indexing (Accessing elements through negative indexing)
names = ["John", "Peter", "Parker", "Joseph", "Brad", "Steven"]

print(names[-4])
print(names[-1])
print(names[-6])

Parker
Steven
John

In [102]:
# slicing
# with slicing, we can access more than one element
# start : stop : step
names = ["John", "Peter", "Parker", "Joseph", "Brad", "Steven"]
print(names[0 : 3])
print(names[ : 3])
print(names[ : ])

print(names[ 2 : 5])

print(names[  : 4 : 2])

['John', 'Peter', 'Parker']
['John', 'Peter', 'Parker']
['John', 'Peter', 'Parker', 'Joseph', 'Brad', 'Steven']
['Parker', 'Joseph', 'Brad']
['John', 'Parker']

In [104]:
print(names[ 3 : 0 : -1])
print(names[ : : -1])

['Joseph', 'Parker', 'Peter']
['Steven', 'Brad', 'Joseph', 'Parker', 'Peter', 'John']

# string methods
* capitalize (Converts the first character to upper case)
* casefold   (Converts string into lower case)
* count       (Returns the number of times a specified value occurs in a string)
* endswith
* startswith
* find
* index
* isalnum
* isalpha
* isdigit
* islower
* isupper
* join
* lower
* upper
* strip
* split

In [107]:
#capitalize (Converts the first character to upper case) and returns it
a = "night sky"
b = a.capitalize()
print(b)

Night sky

In [108]:
# casefold   (Converts string into lower case)
sentence = "WE are LEARNING Python"
print(sentence.casefold())

we are learning python

In [109]:
# lower   (Converts string into lower case)
sentence = "WE are LEARNING Python"
print(sentence.lower())

we are learning python

In [112]:
# count counts a specified value in your string and retruns an integer
# string.count(value)
sentence = "one one tree one two"
print(sentence.count("one"))

3

In [116]:
#endswith it checks if your string ends with a specified value and returns answer in boolean
# string.endswith(value)
sentence = "one one tree one two."
print(sentence.endswith("two."))

True

In [122]:
#startswith it checks if your string starts with a specified value and returns answer in boolean
# string.startswith(value)
sentence = "one one tree one two."
print(sentence.startswith("one"))

True

In [127]:
# find   finds a specified value in your string and returns its index
#string.find(value)
# if the value is not found, then it will return -1
sentence = "one one tree one two."
print(sentence.find("one"))
print(sentence.find("tree"))
print(sentence.find("dog"))
print(sentence.rfind("one"))

0
8
-1
13

In [4]:
# index   finds a specified value in your string and returns its index
#string.index(value)
# if the value is not found, then it raises an exception
sentence = "one one tree one two."
print(sentence.index("one"))
print(sentence.index("tree"))
# print(sentence.index("dog")) Error
print(sentence.rindex("one"))

0
8
13

# Topics
* List methods
* dictionaries and sets
* Built in functions 
* nested loops and lists, tuples
* functions
* Exceptions
* file handling
* classes

# homework
* See break and continue in loops
* take 5 values and calculate their sum, find out the maximum value and minimum value
* Apply indexing and slicing with lists , tuple, strings

In [3]:
# break statement breaks your loop at a specific point or under a specific condition
for i in [12, 35, 67, 87]:
    if i == 67:
        break
        
    print(i)

12
35