# List Exercises

In [ ]:
# Exercise 1 : Reverse the given list
list1 = [100, 200, 300, 400, 500]

In [ ]:
# Exercise 2: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Exercise 3: Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
# Exercise 4:
# convert following list into a list containing only the unique values in sorted form
list1 = [10 ,1 ,1, 7, 7, 7, 5, 5, 15, 15, 15, 3, 3, 10]

In [11]:
# submission file Exercise 1:
list1 = [99,1,123,3]
list2 = [0,1,2,5]
# their length should be
# every second element in the list should be same
# len(iterable)   it will return the length of the iterable
x = len(list1)
y = len(list2)

result = False

if x == y:
    for i in range(1, x, 2):
        if list1 [i] == list2[i]:
            result = True
            
        else:
            result = False
            break
            
if result == True:
    print("Length of both lists and every second element of both lists are same")
    
else:
    print("Length of both lists or every second element of both lists are not same")

Length of both lists or every second element of both lists are not same

In [1]:
list1 = [99,1,123,3]
for i in list1:
    print(i)

99
1
123
3

In [8]:
list1 = [99,25,123,50]
for i in range(1, len(list1), 2):
    print(list1[i])

25
50

In [ ]:
list1 = [1,2,3,3,'3']
# Hint : empty list
#       iterate over list1 using for loop
#       append odd values inside that empty from list1
#       ignore values that are not numeric

# String Exercises

In [ ]:
# Exercise 1: Create a string made of the first, middle and last character
str1 = "James"
# output: Jms

In [ ]:
# Exercise 2: Create a string made of the middle three characters
str1 = "JhonDipPeta"
# output: Dip

In [ ]:
# Exercise 3: Arrange string characters such that lowercase letters should come first
str1 = 'PyNaTive'
# Output: yaivePNT

In [12]:
# Exercise 4: Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"

"""OUTPUT:
Total counts of chars, digits, and symbols 

Chars = 8 
Digits = 3 
Symbol = 4

"""
char = 0
digits = 0
symbols = 0
for letter in str1:
    if letter.isalpha():
        char = char + 1
        
    elif letter.isdigit():
        digits = digits + 1
        
    else:
        symbols = symbols + 1
        
print("Chars =", char)
print("Digits =", digits)
print("Symbols =", symbols)

Chars = 8
Digits = 3
Symbols = 4

In [ ]:
# Exercise 5: Split a string on hyphens
str1 = "Emma-is-a-data-scientist"

"""EXPECTED OUTPUT:
Emma
is
a
data
scientist
"""

In [ ]:
# Exercise 6: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'

"""EXPECTED OUTPUT
2510
"""